body{background-color : rgb(176, 245, 242);}
h1{background-color : gray;}
h2{background-color : gray;}
h3{background-color : gray;}
table{background-color : pink;}
h1{border : solid;}
h2{border : solid;}
h3{border : solid;}
table{border : solid;}
	p {border : solid;}