body{
    letter-spacing: 0.1em;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    margin: 0;
    display : flex;
    flex-direction: column;
    text-align: left;
}
header{
    background-color: rgb(32, 178, 170);
}
footer, .url{
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: gray;
    color: antiquewhite;
    text-decoration: none;
    min-width: 100px;
}
nav, .lien{
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: lightgray;
}
.lien li{
    list-style-type: none;
    float: left;
}
.lien a{
    display: block;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    background-color:lightgrey;
    color: black;
}
section{
    background-color: darkgray;
    
}
.url:hover{
    background-color: antiquewhite;
    color: gray;
    text-decoration: none;
}
.sous_menu{
    display: none;
}
.sous_menu li:hover{
    display: block;
}
.lien a:hover{
    background-color: black;
    color: lightgray;
    text-decoration: none;
}
#lien .menu-deroulant li{
    float: none;
}
.menu-deroulant > a::after{
    content: '>';
    margin-left: 7px;
    display: inline-block;
}